fastapi
uvicorn
python-multipart
python-jose[cryptography]
passlib[bcrypt]
psycopg2-binary
sqlalchemy
pydantic
pydantic-settings
groq
google-auth
python-dotenv
httpx
slowapi
SpeechRecognition
textblob
nltk